.app {
  margin: auto;
  margin-top: 10rem;
  background-color: #1e2631;
  color: white;
  width: 40rem;
  height: fit-content;
  border-radius: 3rem;
  padding: 2rem;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h2 {
  font-size: 48px;
  margin-top: 1rem;
}

p {
  margin-top: 2rem;
  font-size: 20px;
  font-weight: lighter;
}
