.rating-button {
  margin-top: 3rem;
  position: relative;
}

.button-to-submit {
  width: 100%;
  background-color: #fb7615;
  border-radius: 3rem;
  font-size: 24px;
  font-weight: bold;
}

.error-tooltip {
  position: absolute;
  bottom: 100%;
  transform: translateX(-50%);
  background-color: #4a4a4a;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  opacity: 0.9;
}
